* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* css del navbar */
nav {
    background-color: #0d0e12;
    
    padding: 10px 25px;
}
nav ul {
    list-style: none;
    text-align: left;
    padding: 5px 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    border-radius: 30px;
    padding: 2px 20px;
    color: #06081f;
    background-color: #fcd5ce;
    text-decoration: none;
}


/* css del contenido */
body{
    background-color: #073245;
}

section {
    margin-top: 20px;
    padding: 0px 400px;
    text-align: center;
    color: #fcd5ce;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    padding-top: 10px;
    text-align: justify;
}